language: python
python:
- 2.7
env:
  global:
  - secure: NpZHASutgqZhLoCA8FgSnfcWXSkmzr7TpzL39rWMml1o2yuybkHMRlckJw2ClAcaMbXMbT7nVefNysUlxF+QVeS51zmRJ4y6XZc2Y/Ehc0/KuSkYYyBudhVwdlWcevjrreGcPyS4yjgSYHdf9PecrsgfBJT/gD1TX2Ko/zjkZ+05f6crPazrHQJIvO7uDXkhcZsBDlruIVvkT0SFYEwtP9Ksj8oYpK+EnmtWMA0uAEFNo8c4FJxiWe0ReaOsY4GELspde6aEDQ//PRHyuoECzYTqRTIrvZvwgud1+4YADH8PsUZ3i78tD5Pj0HJnfAZNtsP3k6o5mWejYj+4J455ZZc9xNWMoW/noMVAX6Cdf/n2RGBwrM9ugvdZwY/YP/vEdqtIoJ4wQa9rEj1vtF+m+h2u2lwOUpZ7k/mqULkj1axE3Y9EOu0fyeIDE/Xt0iDi0lUP+QFA7/IyFsfuNe8c6nBWeUPSCaeuTCOSXxqfUMpudsTnxYfdAN5l2W0+Q3CE5Bi8SwW2vqm9Wj+8ZsvikuoRRGyxiHO9MsuqBvJAYvyStPB1Vz5oU05VjZsIrwWpIw7VLo5qFHUwlc75mxbdvmEyg+awyUW2U/hddV/aDywwbDHKgMHr7SFCN72LlF77HMPGRHclxaBu5VDVut3yS4gC9r4AvRIqiDwPB4jgYrQ=
  - secure: JByDmVuyVeIuaX55PdWtC20RcVGLqAi+c1POOnXewWYEPPO6y7mX5Y+lBLtY0PfxVSxQR3hjjfy2jEOniytTz/dET0hMBQI2Q95XS6b2jSencwwhS4IST0V/BYYpHZTS42J0fsKGKM9gppUmI5Q9QlwHPESrrgKylr9cnzImXZmhkL4+EDlQXYUkCKRAdif/0G+6SoRQNrfIQpBlBPZDP4aAt0OjjLDWcG8mNVRMlebEi8cl2AbyskgO6HhOfxrV+Ez5dEe1cSG5lDVuyIFWIkm6wWPfmf5bgZ92LzpmbCRy+VyZ9LJTUpwtqgWzZUHBI9lYu35fkmiWg7Z8DyrDF2NwzCnATDjgy+bqMw9wwABdLbJalW5w09QIb6UnvTmv0PvpqEg/3BsQJDpZTT/zqL2qVIhDy618olG2tU8VQZo8val1gUNO3seBLBk8PQX0pFHvFtwEtLWqHLOGDM39dsm3bQy63qhyxtYiS1an7xjcT65F51twhg2EhoAe81B3KuXnvdDpa0P7AKx8OLYfypGdgko+iboBOpf9Llg2mLzS/vwA9FUjHN/oui/Ia1af8LT1QyrY810r63Hg9Ack4iLBgWP2Ni+QQlApbzMi8Ou3w+iUe5V3pSjTdN199930H+A7kqH5CC7mwRT8VC6W0qEZNL2xGtea1pi5O1ojju8=
services:
- docker
install:
- docker build -t mariadb .
- docker run -d -p 127.0.0.1:80:80 --name mariadb mariadb
script:
- docker ps | grep -q mariadb
- export TAG=`if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master"
  ]]; then echo "latest"; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi`
- export REPO=containah/alpine-mariadb
- docker build -t $REPO:$TAG -f Dockerfile .
after_success:
- docker login -u=$DOCKER_USER -p=$DOCKER_PASS
- if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master" ]]; then
  docker tag $REPO:$TAG $REPO:$TRAVIS_BUILD_NUMBER; docker push $REPO:$TRAVIS_BUILD_NUMBER;
  fi
- docker push $REPO:$TAG
